html{
  overflow-x: hidden !important;
  overflow-y:  hidden !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.background-blurry-blob{
  position: fixed;
  background: #fff;
  width: 80%;
  height: 100%;
  transform: rotate(60deg);
  z-index: -10;
  top: -25%;
  left: -30%;
  background: radial-gradient(circle, rgb(43, 43, 66) 0%, rgba(34,36,42,1) 58%);
}